/* ------------------------------------------------------------------ *\
    Overall HTML
\* ------------------------------------------------------------------ */

html, body {
  height: 100%;
  font-size: 100%;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  color: black;
  z-index: 5;
}

/* ------------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------------ */

header {
  position: relative;
  z-index: 10;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 2.5%;
}

header ul li {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1em;
  color: black;
  font-size: 1.5em;
  text-align: center;
  display: inline;
  padding: 3%;
}

li a {
  color: inherit;
}

header .buttons {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 5%;
}

header .buttons li {
  display: inline;
  padding: 0;
}

li a:hover:not(.active) {
  text-decoration: none;
  color: black;
  text-shadow: 0px 0px 3px black;
}

/* ------------------------------------------------------------------ *\
    Home Page
\* ------------------------------------------------------------------ */

.home {
  height: 100%;
  width: 100%;
  background-image: url('../img/home/sky.jpg');
  background-position: center;
  background-size: cover;
}

/* Small screens */
@media screen and (max-width: 1100px) {
  .home h1 {
    font-size: 4em;
    font-weight: bold;
    margin: 0%;
    top: 45%;
    left: 20%;
    color: rgb(51, 51, 51);
    position: absolute;
  }
}

/* Big screens */
@media screen and (min-width: 1101px) {
  .home h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0%;
    top: 30%;
    padding-left: 14%;
    color: rgb(51, 51, 51);
  }
}

.sun, .moon {
  position: absolute;
  left: 75%;
  top: 70%;
  width: 10%;
  z-index: 2;
  -webkit-transition: top 1.5s ease-in-out;
  transition: top 1.5s ease-in-out;
}

.treehills {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  z-index: 3;
}
