/* Written by Tyler Yep */

/* ------------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------------ */

header ul li {
  font-size: 1em;
}

/* ------------------------------------------------------------------ *\
    Home Page
\* ------------------------------------------------------------------ */

.home h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0%;
  top: 45%;
  left: 15%;
  color: rgb(51, 51, 51);
  position: absolute;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.sun,
.moon {
  left: 72%;
  width: 15%;
}

.treehills {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  z-index: 3;
}

/* ------------------------------------------------------------------ *\
    About Page
\* ------------------------------------------------------------------ */

.about h1 {
  font-size: 2.5em;
}

.about-container,
.modal {
  top: 16%;
  border-radius: 0;
}

.box {
  flex-direction: column;
}

.about .left {
  width: 100%;
  max-width: 100%;
  border-radius: 0;
}

.about .left p {
  font-size: 1.2em;
}

.about img {
  border-radius: 0;
}

/* ------------------------------------------------------------------ *\
    Space Page
\* ------------------------------------------------------------------ */

/* No changes */

/* ------------------------------------------------------------------ *\
    Projects Page
\* ------------------------------------------------------------------ */

.projects h1 {
  font-size: 3em;
}

.projects h2.year {
  font-size: 0;
}

/* --- Project Badges --- */

.bubble {
  width: 20%;
  height: 20vw;
}

/* --- Modals --- */

.modal-body {
  flex-direction: column;
}

.modal-body h2 {
  color: black;
  font-size: 1.5em;
}

.modal-left {
  width: 100%;
  border-right: solid 0px black;
}

.modal-right {
  max-width: 100%;
  padding: 0;
}

/* ------------------------------------------------------------------ *\
    Contact Page
\* ------------------------------------------------------------------ */

.contact h1 {
  font-size: 3em;
}

.contact li {
  padding: 0;
}
