/* ------------------------------------------------------------------ *\
    Overall HTML
\* ------------------------------------------------------------------ */

html, body {
    height: 100%;
    font-size: 100%;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

/* ------------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------------ */

header {
    position: relative;
    z-index: 10;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 2.5%;
}

header ul li {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1em;
    color: black;
    font-size: 2em;
    text-align: center;
    display: inline;
    padding: 3%;
}

li a {
    color: inherit;
}

li .active {
    font-size: 120%;
}

li a:hover:not(.active) {
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 2px black
}


/* ------------------------------------------------------------------ *\
    Home Page
\* ------------------------------------------------------------------ */

.home {
    height: 100%;
    width: 100%;
    background-image: url('../img/sky.png');
    background-size: cover;
}

.home h1 {
    position: relative;
    font-size: 6em;
    font-size: 7vw;
    font-weight: bold;
    margin: 0%;
    top: 30%;
    padding-left: 12%;
    padding-right: 20%;
    z-index: 5;
}

.sun {
    position: absolute;
    left: 70%;
    top: 30%;
    width: 10%;
    z-index: 2;
}

.treehills {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    z-index: 3;
}

/* ------------------------------------------------------------------ *\
    About Page
\* ------------------------------------------------------------------ */

.about {
    height: 100%;
    width: 100%;
    background-image: url('../img/sky.png');
    background-size: cover;
}

.about h1 {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    position: relative;
    font-size: 4em;
    font-size: 4vw;
    margin: 0%;
    top: 15%;
    padding-left: 12%;
    padding-right: 20%;
    z-index: 5;
}

.about p {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    position: relative;
    font-size: 2em;
    font-size: 2vw;
    top: 25%;
    padding-left: 12%;
    padding-right: 40%;
    z-index: 4;
}

.about img{
    position: absolute;
    top: 125%;
    left: 65%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* ------------------------------------------------------------------ *\
    Projects Page
\* ------------------------------------------------------------------ */

.projects {
    height: 100%;
    width: 100%;
    background-image: url('../img/underground.png');
    background-size: cover;
}

.projects h1 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    position: relative;
    font-size: 4em;
    font-size: 4vw;
    margin: 0%;
    top: 15%;
    padding-left: 12%;
    padding-right: 20%;
    z-index: 5;
}

/* ------------------------------------------------------------------ *\
    Contact Page
\* ------------------------------------------------------------------ */

.contact {
    height: 100%;
    width: 100%;
    background-image: url('../img/black-gradient.png');
    background-size: cover;
}

.contact h1 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    position: relative;
    font-size: 4em;
    font-size: 4vw;
    margin: 0%;
    top: 15%;
    padding-left: 12%;
    padding-right: 20%;
    z-index: 5;
}
