/* ------------------------------------------------------------------ *\
    Overall HTML
\* ------------------------------------------------------------------ */

html, body {
  height: 100%;
  font-size: 100%;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

h1, p {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  color: black;
  z-index: 5;
  font-size: 3.5em;
}

/* ------------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------------ */

header {
  position: relative;
  z-index: 10;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 2.5%;
}

header ul li {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1em;
  color: black;
  font-size: 1.5em;
  text-align: center;
  display: inline;
  padding: 3%;
}

li a {
  color: inherit;
}

header #buttons {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0%;
  padding-left: 5%;
}

header #buttons li {
  display: inline;
  padding: 0%;
}

li a:hover:not(.active) {
  text-decoration: none;
  color: black;
  text-shadow: 0px 0px 3px black
}

/* ------------------------------------------------------------------ *\
    Home Page
\* ------------------------------------------------------------------ */

.home {
  height: 100%;
  width: 100%;
  background-image: url('../img/home/sky.jpg');
  background-size: cover;
}

.home h1 {
  font-size: 6em;
  font-weight: bold;
  margin: 0%;
  top: 30%;
  padding-left: 14%;
  color: rgb(51, 51, 51);
}

.sun, .moon {
  position: absolute;
  left: 75%;
  top: 70%;
  width: 10%;
  z-index: 2;
  -webkit-transition: top 1.5s ease-in-out;
  transition: top 1.5s ease-in-out;
}

.treehills {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  z-index: 3;
}

/* ------------------------------------------------------------------ *\
    About Page
\* ------------------------------------------------------------------ */

.about {
  height: 100%;
  width: 100%;
  background-image: url('../img/about/earth-up.jpg');
  background-size: cover;
}

.about-container {
  border-radius: 30px;
  border: #solid 10px #000;
  background-color: rgba(242, 242, 242, 0.6);
  width: 86%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  position: relative;
}

.about h1 {
  padding-top: 10%;
  padding-left: 10%;
}

.about p {
  font-size: 1.25em;
  padding-top: 3%;
  padding-left: 10%;
}

.about img {
  border: 5px solid rgba(242, 242, 242, 0.6);
  border-radius: 20px 80px;
  padding: 12px;
  display: block;
  margin: auto;
  margin-top: 20%;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.left {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 60%;
}

.right {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 40%;
}

/* ------------------------------------------------------------------ *\
    Space Page
\* ------------------------------------------------------------------ */

.earth {
  height: 100%;
  width: 100%;
  background-image: url('../img/about/earth-down.jpg');
  background-size: cover;
}

/* ------------------------------------------------------------------ *\
    Projects Page
\* ------------------------------------------------------------------ */

.projects {
  height: 100%;
  width: 100%;
  background-image: url('../img/home/sky.jpg');
  background-size: cover;
}

.projects h1 {
  position: absolute;
  color: white;
  margin: 0%;
  top: 6%;
  padding-left: 12%;
}

.carousel, .carousel-item, .carousel-inner, .active {
  height: 100%;
}

.carousel-inner img {
  height: 100%;
  width: 100%;
  z-index: -1;
}

.carousel-caption {
  top: 0;
  right: 0;
  left: 0;
}

.pencil_body {
  position: absolute;
  height: 30px;
  width: 100%;
  top: 40%;
  background: #2cd6c2;
  border-radius: 5px;
}

.one-project {
  border-radius: 50%;
  border: #solid 10px #000;
  background-color: rgba(242, 242, 242, 0.5);
  z-index: 5;
  width: 18%;
  position: absolute;
  top: 15%;
  left: 50%;
}

.one-project img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: #solid 10px #000;
}

.overlay {
  border-radius: 300px;
  border: #solid 10px #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #0073E6;
}

.text {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-decoration: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.one-project:hover .overlay {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

/* ------------------------------------------------------------------ *\
    Contact Page
\* ------------------------------------------------------------------ */

.contact {
  height: 100%;
  width: 100%;
  background-image: url('../img/contact/black-gradient.jpg');
  background-size: cover;
}

.contact h1 {
  color: white;
  margin: 0%;
  top: 15%;
  padding-left: 12%;
}

.contact ul {
  position: relative;
  list-style-type: none;
  top: 80%;
  padding: 0%;
  margin-left: 18%;
}

.contact li {
  display: inline;
  padding: 5%;
}

.contact li a:hover {
  box-shadow: 0px 0px 50px 30px white, 0px 0px 40px white inset;
  border-radius: 30%;
}
